# Xcode User Data
xcuserdata/

# Build Artifacts
build/
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm
.build/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Derived Data
DerivedData/
APIConfig.swift

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Scheme Management
*.xcscmblueprint

# Application Archives
*.xcarchive

# SwiftUI Previews
.swiftpm/xcode/Previews

# Logs
*.log

# macOS Finder Files
.DS_Store

# App Icon and Screenshot Metadata
*.xcassets/*.imageset/Contents.json
*.xcassets/*.appiconset/Contents.json

# fastlane Outputs
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Other Environment Files
.env
.env.local

# Crash Logs
*.crash

# Temporary Files
*.swp
*.tmp
*.lock

# Backup Files
*.bak